<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelsAdvisor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.105:12345/HotelsAdvisorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelsAdvisor"
                contract="HotelsAdvisorServiceFixtures.HotelsAdvisorService.Proxy.IHotelsAdvisor"
                name="BasicHttpBinding_IHotelsAdvisor" />
        </client>
    </system.serviceModel>
</configuration>