@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    D-503, Wing 3, EON IT Park,<br />
    Kharadi, Pune – 411 014<br />
    Maharashtra, India<br />
    <abbr title="Phone">P:</abbr>
    +91 20-67318600
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@tavisca.com">Support@tavisca.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@tavisca.com">Marketing@tavisca.com</a>
</address>